{% extends 'base.html' %}

{% block content %}

<h1>Welcome {{user.username}}.!</h1>
<p>Buyer Details Page Works.!</p>

<div class="card">
    <h2 class="card-header"><strong>{{buyer_detail.organization_name}}</strong></h2>
    <div class="card-body">
      <!-- <h5 class="card-title">{{buyer_detail.first_name}} {{buyer_detail.last_name}}</h5> -->
      <p class="card-text">

        <table class="table table-bordered">
            <tbody>
            <tr>
                <td><strong>Buyer Name</strong></td>
                <td>{{buyer_detail.first_name}} {{buyer_detail.last_name}}</td>
            </tr>
              <tr>
                <td><strong>Organization Name</strong></td>
                <td>{{buyer_detail.organization_name}}</td>
              </tr>
              <tr>
                <td><strong>Email</strong></td>
                <td>{{buyer_detail.email}}</td>
              </tr>
              <tr>
                <td><strong>Phone</strong></td>
                <td>{{buyer_detail.phone}}</td>
              </tr>
              <tr>
                <td><strong>Address</strong></td>
                <td>{{buyer_detail.address}}</td>
              </tr>
              <tr>
                <td><strong>Zipcode</strong></td>
                <td>{{buyer_detail.zipcode}}</td>
              </tr>
              <tr>
                <td><strong>City</strong></td>
                <td>{{buyer_detail.city}}</td>
              </tr>
              <tr>
                <td><strong>State</strong></td>
                <td>{{buyer_detail.state}}</td>
              </tr>
              <tr>
                <td><strong>Country</strong></td>
                <td>{{buyer_detail.country}}</td>
              </tr>
              <tr>
                <td><strong>Status</strong></td>
                <td>{{buyer_detail.user_status}}</td>
              </tr>

            </tbody>

          </table>
      </p>
    </div>
  </div>
  <br>
  <div>
    <a href="{% url 'buyers' %}" class="btn btn-secondary">Go Back</a>
    <a href="{% url 'buyer_update' buyer_detail.id %}" class="btn btn-primary">Edit Buyer</a>
    <a href="{% url 'buyer_delete' buyer_detail.id %}" class="btn btn-danger">Delete Buyer</a>
</div>
<br>
       
    
{% endblock %}
