{% extends 'base.html' %}

{% block content %}

<h1>Welcome {{user.username}}.!</h1>
<p>Seller Details Page Works.!</p>

<div class="card">
    <h2 class="card-header"><strong>{{seller_details.first_name}} {{seller_details.last_name}}</strong></h2>
    <div class="card-body">
      <!-- <h5 class="card-title">{{buyer_detail.first_name}} {{buyer_detail.last_name}}</h5> -->
      <p class="card-text">

        <table class="table table-bordered">
            <tbody>
            <tr>
                <td><strong>Seller Name</strong></td>
                <td>{{seller_details.first_name}} {{seller_details.last_name}}</td>
            </tr>
              <!-- <tr>
                <td><strong>Organization Name</strong></td>
                <td>{{buyer_detail.organization_name}}</td>
              </tr> -->
              <tr>
                <td><strong>Email</strong></td>
                <td>{{seller_details.email}}</td>
              </tr>
              <tr>
                <td><strong>Phone</strong></td>
                <td>{{seller_details.phone}}</td>
              </tr>
              <tr>
                <td><strong>Address</strong></td>
                <td>{{seller_details.address}}</td>
              </tr>
              <tr>
                <td><strong>Zipcode</strong></td>
                <td>{{seller_details.zipcode}}</td>
              </tr>
              <tr>
                <td><strong>City</strong></td>
                <td>{{seller_details.city}}</td>
              </tr>
              <tr>
                <td><strong>State</strong></td>
                <td>{{seller_details.state}}</td>
              </tr>
              <tr>
                <td><strong>Country</strong></td>
                <td>{{seller_details.country}}</td>
              </tr>
              <tr>
                <td><strong>Status</strong></td>
                <td>{{seller_details.user_status}}</td>
              </tr>

            </tbody>

          </table>
      </p>
    </div>
  </div>
  <br>
  <div>
    <a href="{% url 'sellers' %}" class="btn btn-secondary">Go Back</a>
    <a href="{% url 'seller_update' seller_details.id %}" class="btn btn-primary">Edit Seller</a>
    <a href="{% url 'seller_delete' seller_details.id %}" class="btn btn-danger">Delete Seller</a>
</div>
<br>
       
    
{% endblock %}
